<%- include('includes/head')%>
    <h1>Add User</h1>
    <form action="/add-user" method="post">
        <label for="userName"> Username</label>
        <input type="text" name="userName" id="userName">
        <button type="submit">Add User</button>
    </form>
    <%- include('includes/foot')%>